@mixin button($color,$bg-color,$side1,$side2,$radius : 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color;
          transition: 0.7s background ease;
          background-color: $bg-color;
          text-decoration: none;
          padding: $side1 $side2;
          &:hover{
            background-color:darken($bg-color, 10%);
          }
}

@mixin center-flex() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin container($max: 100%){
    width        : 100%;
    max-width    : $max;
    margin-right : auto;
    margin-left  : auto;
}


@mixin square($side){
    height:$side;
    width:$side;
}

@mixin flex ($direction: row,$justify: flex-start,$align: flex-start){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin media($media){
    $media-query: get($breakpoints, $media);
    @media #{$media-query}{
        @content;
    }
}
