html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #192732;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.test {
  height: 200px;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 0) and (max-width: 63.9375em) {
  .test {
    background-color: red;
  }
}
.test__box {
  width: 100px;
  height: 50px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  border-radius: 150px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.7s background ease;
  background-color: green;
  text-decoration: none;
  padding: 10px 10px;
}
.test__box:hover {
  background-color: #004d00;
}
